body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #dafacb;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    font-family: sans-serif;
    background-color: #64af51;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.titletext{
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    display: inline-block;
}

.description {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    font-family: sans-serif;
}

.listsection {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 0px;
    font-family: sans-serif;
}

.linkform {
    color: #ffffff;
    text-decoration: none;
    text-align: right;
    float: right;
    margin-right: 20px;
    width: 25%;
}

.linkindex {
    color: #ffffff;
    text-decoration: none;
    text-align: left;
    float: left;
    margin-left: 20px;
    width: 25%;
}

.listacompras {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 0px;
    font-family: sans-serif;

}   

.listacompras table {
    width: 100%;
    border-collapse: collapse;
}

.listacompras th {
    background-color: #64af51;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

.listacompras td {
    border: 1px solid #000;
    padding: 10px;
    width: auto;
    text-align: center;
    vertical-align: middle;
    color: #ffff
}

.listacompras tr:nth-child(even) {
    background-color: #53c536;
}

.listacompras tr:nth-child(odd) {
    background-color: #279705;
}

.listacompras tr:hover {
    background-color: #f0f0f0;
}

.acciones {
    text-align: center;
    width: 150px;
}

button {
    background-color: #ffffff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

a{
    color:#4c9729;
    text-decoration: none;
}

@media screen and (max-width: 1100px) {
    .listsection,
    .listacompras {
        max-width: 100%;
    }

    .title {
        font-size: 25px;
    }

    .description {
        font-size: 18px;
    }

    .linkform {
        font-size: 18px;
    }

    .listacompras {
        padding: 0px;
    }

    .listacompras th,
    .listacompras td {
        padding: 10px;
    }

    .acciones {
        width: 100px;
    }

    button {
        padding: 5px;
    }

    .titletext {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .listsection,
    .listacompras {
        max-width: 100%;
    }

    .title {
        font-size: 25px;
    }

    .description {
        font-size: 18px;
    }

    .listacompras {
        padding: 0px;
    }

    .listacompras th,
    .listacompras td {
        padding: 10px;
    }

    .acciones {
        width: 100px;
    }

    button {
        padding: 5px;
    }

    .titletext {
        font-size: 16px;
    }


    .linkform {
        font-size: 16px;
        width: 25%;
    }

    .linkindex {
        font-size: 16px;
        width: 25%;
    }

}

@media screen and (max-width: 576px) {
    .title {
        font-size: 20px;
    }

    .description {
        font-size: 16px;
    }

    .listsection {
        padding: 0px;
    }

    .linkformulario {
        font-size: 16px;
    }

    .listacompras {
        padding: 0px;
    }

    .listacompras th,
    .listacompras td {
        padding: 7px;
    }

    .acciones {
        width: 50px;
    }

    button {
        padding: 3px;
    }

    .titletext {
        font-size: 12px;
    }

    .linkform {
        font-size: 12px;
        width: 25%;
    }

    .linkindex {
        font-size: 12px;
        width: 25%;
    }

    #enviar {
        padding: 5px;
    }

}